/*
Design by stereoIT s.r.o originally inspired by http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
/*
  H1 text color #666666
  lighter gray color #999999
  dark gray #333333

  ahover #5B6C17
  a #829630
	
paragrafy #666666 line height 1.5em size 12px
*/
* {
border:0 none;
margin:0;
padding:0;
}

body {
	margin: 0;
	padding: 0;
	/* background: #EBEBEB url(../images/background.png) left top; 
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	*/
	background: black url(../images/new_top_green.png) repeat-x 0 137px;
	color: #6D6D6D;
}

a { 
	text-decoration: none;
	color: #678836;
	font-weight: bold;
	font-size: 12px;
}

a:focus, a:active {
	outline: none;
}



a:hover { text-decoration: underline;}

h1 { margin: 0px; padding 1.5em; font-size: 16px;}
tr, p, div {
	font-family: "Trebuchet MS",Arial,Verdana,Helvetica,sans-serif;
}
#page {
/*	background: transparent url(../images/new_top_shadows.gif) no-repeat center 137px; */
	width: 816px;
	margin: 0 auto;
	position: relative;
}

#left_shadow {
	background: transparent url(../images/new_top_shadows_small.png) no-repeat left 0px;
	height: 58px;
	width: 8px;
	position: absolute;
	top: 137px;
}

#right_shadow {
	background: transparent url(../images/new_top_shadows_small.png) no-repeat right 0px;
	height: 58px;
	width: 8px;
	position: absolute;
	top: 137px;
	left: 808px;
}

#content {
	background: transparent url(../images/new_border_left.png) repeat-y left 0px;
	background-color: #f0f0f0;
}

#header01 {
	background: transparent url(../images/new_header01.png) no-repeat center top;
	width: 800px;
	height: 5px;
}

#header02 {
/*	background: transparent url(../images/new_header02.png) no-repeat center top; */
	background: transparent url(../images/new_header_padder.png) no-repeat right top; 
	width: 800px;
	height: 52px;
	background-color: white;
}

#header02_left_padder {
    background: transparent url(../images/new_header_padder_left.png) no-repeat left top; 
	width: 800px;
	height: 52px;
}


#header03 {
	background: transparent url(../images/new_header03.png) no-repeat center top;
	width: 800px;
	height: 134px;
}

#main {
/*	background: transparent url(../images/new_content.png) no-repeat center top; */
	background: transparent url(../images/new_main_padder.png) repeat-x right 0px; 
	background-color: #f0f0f0;
	width: 798px;
	min-height:342px;
	margin: 0 auto;
}

#footer {
/*	background: transparent url(../images/new_footer.png) no-repeat center top; */
	width: 800px;
	font-size: 10px;
}
#footer hr { border: none;
			border-top: dashed 1px #cccfcb;
			width: 90%;
			margin: 15px auto 5px auto;
		}

#footerlast {
	background: transparent url(../images/new_footer_last.png) no-repeat center top; 
	width: 800px;
	height: 9px;
}

#footer p { 
	padding: 17px 50px 0px;
	text-align: right;
	font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

#wrapper { 
	padding-top: 39px;
	padding-bottom: 39px;
	
}

#main_right_border {
	background: transparent url(../images/new_content_padder.png) repeat-y top right;
	width: 560px;
	float: left;
}

div.clear {
	clear: both;
}

#content_border_right {
	background: transparent url(../images/new_border_right.png) repeat-y right 0px;
}

#main_content {
/*	background: transparent url(../images/new_content_main.png) no-repeat left 0px; */:w
	height: 342px;
	width: 556;
}

#main_content span {
	margin: 1.0em 1.5em;
	display: block;
	font-size: 12px;
}

#gradient {
	background: transparent url(../images/new_gradient.png) repeat-x  0 137px;
	width: 800px;
	margin: 0 auto;
}

#news {
/*	background: transparent url(../images/new_content_news.png) no-repeat right 0px; */
	float: right;
/*	height: 342px; */
	width: 238px;
	color: #6D6D6D;
	font-size: 10px;
}
#logo {float: left;}
#logo a { 
	background: transparent url(../images/new_logo.png) no-repeat;
	display:block;
	width:135px; height:52px;
margin-left:6px;text-indent:-9000px;}
#main h1 {margin: 0px; padding: 10px;}

/*------------- START OF right sidebar for quick news -------------- */
#news h1 { font-size: 12px; font-weight: bold;margin-left: 0.5em;}
#news hr { border: none;
			border-top: dashed 1px #e3e6e1;
			width: 90%;
			margin: 5px auto;
		}
#news ul { list-style: none; margin-left: 1.8em; padding: 0px; width:85%;margin-top: 0px;}
#news li { margin 10px auto;}

#news-archive {margin: 10px auto; display:block;text-align: center;}
.when {font-weight: bold;}
.by {font-weight: bold;}
#news a { font-size: 12px;}
#news li .title {margin-top: 2px; 
	margin-bottom: 10px;
	display: block;
}
/*---------------END OF  right side bar for quick news ------------- */

#sitemap { 
	background-color: #d4d4d4; 
	margin: 10pt auto; 
	margin-right: 50px;
	border: 1px solid #999999;
	display: none;
	width: 50%;
}

.sitemap-col { float: left; margin: 15px 46px 20px 34px; max-width: 200px;}
div.sitemap-col ul li { list-style-image: none; list-style-position: outside; list-style-type: none; }
li.header { color: #787878; font-weight: bold; margin: 2px 0;}

/* generic --------------------- */
.clear { clear: both;}

#topnav { position: relative;}
ul.topnav {
	list-style: none;
	padding: 0 00px;
	margin: 10px 10px;
	float: right;
	/*background: #222;*/
	font-size: 1.2em;
/*	background: url(../images/topnav_bg.gif) repeat-x; */
	background-color: white;
	color: black;
}

ul.topnav a { color: black;}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
/*	color: #fff; */
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top; 
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
/*	background: #333; */
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	/* border: 1px solid #111; */
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
/*	border-top: 1px solid #252525; *//*--Create bevel effect--*/
/*	border-bottom: 1px solid #444; *//*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
/*	background: #333 url(dropdown_linkbg.gif) no-repeat 10px center; */
	background: white;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
/*	background: #222 url(dropdown_linkbg.gif) no-repeat 10px center; */
	background-color: gray;
}

