<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="p8wY6yio4vHNbPc7vUIS8oXAvcGmMfdIQKRQlBVlmnA" />
<title>{% block title %}please add block title and rename it{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="/static/css/default_stereo.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/script/jquery.qtip-1.0.0-rc3.js"></script> 
<script type="text/javascript" src="/static/script/jquery.emenu.js"></script> 
</head>
<body>
<div id="page">
  <div id="left_shadow"></div>
    <div id="right_shadow"></div>
      <div id="wrapper">
        <div id="gradient">
          <div id="content">
          <div id="content_border_right">

  <!-- start header -->
  <div id="header">{% block header %}{% include "header.html" %}{% endblock %} </div>
  <!-- end header -->

  <!-- start main -->
  <div id="main">
	{% block main %}
	<div id="main_content">{% block main_content %}{% endblock %}</div>
	{% endblock %}
  </div>

  <div id="footer"><hr/>{% block footer %}{% include "footer.html" %}{% endblock %}
	<div id="sitemap-minimal"><div id="sitemap">{% block sitemap %}{% include "sitemap.html" %}{% endblock %}
      <div class="clear"></div></div>
	</div>
	<div id="footerlast"></div>
  </div>

</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	// sitemap
	$("a#sitemap-link").click(function(event){
   		$("div#sitemap").slideToggle('slow'); 
        event.preventDefault();
     });


	// menu
	$('#topnav').emenu({autocalc: false});

	// tooltips 
	$('a.tagcloud').each(function(){
		$(this).qtip({
			content: {
				url: '/tags/ajax/description/'+$(this).attr('id')+'/',
			},
		   	show: 'mouseover',
		   	hide: 'mouseout',
			style: {
				background: "#f0f0f0",
				color: "#678836",
				'font-size': 11,
			}
		})
	});

});

</script>
</body>
</html>
