<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}jQuery test page{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="/static/css/default_stereo.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/static/script/jquery-1.3.1.js"></script>
</head>
<body>
<div id="page">
  <div id="left_shadow"></div>
    <div id="right_shadow"></div>
      <div id="wrapper">
        <div id="gradient">
          <div id="content">
          <div id="content_border_right">

  <!-- start header -->
  <div id="header">
	<div id="header01"></div>
	<div id="header02"></div>
	<div id="header03"></div>
  </div>
  <!-- end header -->

  <!-- start main -->
  <div id="main">
	<div id="main_right_border"><div id="main_content"></div></div>
	<div id="news"></div>
	<div class="clear"></div>
  </div>

  <div id="footer">
  </div>

</div>
</div>
</div>
</div>
</div>
</body>
</html>
