{% extends "base_with_sidebar.html" %}

{% load tagcloud_tags %}
{% block main_content %}
<span>
<h1>Who are We?</h1>
<span>Open Source professionals with years of indepth experience in many technologies (see our <a href="/tag-cloud">technology cloud</a>) covering complete IT solutions. We educate ourself on daily basis not only in technology but also in modern how-to principles that allows faster delivery with reduced price. We are very happy to share our knowledge and use it to help our customers to achieve their goals.</span>
<h1>Our Technology cloud</h1>
{% render_tagcloud "geek" %}

<span>Administration  agile  Ajax  analysis  Apache  api  asterisk  authentication  backup  business  C  CMS  code  collaboration  communication  computers  content-management  cryptography  css  Data  Database  Development  distro  django  Documentation  eclipse  filesystem  Firefox  firewall  FSF  ftp  fun  geek  git  GNOME  gnu  gnu/linux  Google  gpl  GPS  groupware  gtd  Hacking  hosting  HOWTO  html  HTTP  innovation  internet  invention  IT  J2EE  Java  JavaScript  JBoss  Joomla  LAMP  license  linux  marketing  monitoring  MVC  MySQL</span>
<h1>Why stereoIT?</h1>
<span>We do not add not any overhead. We are the swiss knife when it comes to finding the right tools for the job. Whether it is web presentation, security audit, coding, collaboration, intranet solution, project consultancy or server hosting we just focus on delivery!</span>
</span>
{% endblock %}

{% block news %}
{% include "sidebar_news.html" %}
{% endblock %}

{% block title %}
stereoIT s.r.o. - Your Technology Partners
{% endblock %}
