<li>
	<h2>Recent Posts</h2>
	<div id='hiddable'>
	<ul>
		<li><a href="#">Aliquam libero</a></li>
		<li><a href="#">Consectetuer adipiscing elit</a></li>
		<li><a href="#">Metus aliquam pellentesque</a></li>
		<li><a href="#">Suspendisse iaculis mauris</a></li>
		<li><a href="#">Proin gravida orci porttitor</a></li>
		<li><a href="#">Aliquam libero</a></li>
		<li><a href="#">Consectetuer adipiscing elit</a></li>
		<li><a href="#">Metus aliquam pellentesque</a></li>
		<li><a href="#">Suspendisse iaculis mauris</a></li>
		<li><a href="#">Proin gravida orci porttitor</a></li>
	</ul>
	</div>
</li>
